html, body {
    background-color: #EFF7F2;
    color: #666;
}

.wrapper {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header .wrapper {
    padding-top: 40px;
    border-top: 5px solid #5F789F;
}
main {
    padding-bottom: 50px;
}

/* = Typography = */
h1, h2, h3 {
    font-family: 'Alegreya Sans', sans-serif;
    color: #444;
}
h1 {
    color: #5F789F;
}
h1 + small {
    display: block;
    position: relative;
    top: -20px;
    font-size: 14px;
    color: #999;
}
h2 {
    display: inline-block;
    margin-bottom: 5px;
    color: #C74174;
}
h2 + h3 { margin-top: 10px; }
h3 {
    margin-bottom: 0;
    margin-top: 20px;
}

p {
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
}
p.word-break { word-break: break-all }

a {
    color: #5F789F;
    text-decoration: none;
}
a:hover { color: #C74174; }

/* = Badges = */
.badge {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #888;
    font-size: 12px;
    line-height: 12px;
    border-radius: 50%;
    margin-left: 5px;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
}
.badge.solved { background-color: #41c74e; }
.badge.workingon { background-color: #c7ac41; }

/* = Code = */
pre {
    padding: 0 !important;
    margin-top: 0 !important;
    background-color: transparent !important;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 14px;
}

/* = Table = */
table {
    margin-top: 5px;
    width: 100%;
}
table thead tr td { 
    font-weight: bold; 
    color: #444; 
}
table tr td {
    padding: 10px 5px;
    border-bottom: 1px solid #e4e4e4;
}
table thead tr td, table tbody tr:last-child td { border-color: #ccc; }
table tr td:first-child { 
    text-align: right;
    width: 32px;
}

/* = Selection = */
*::selection { background: rgba(0,0,0,.05); }
*::-moz-selection { background: rgba(0,0,0,.05); }